<%= form_for(@revision) do |f| %>
  <% if @revision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revision.errors.count, "error") %> prohiben que esta revisi&oacute;n sea almacenada:</h2>

      <ul>
      <% @revision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label(:comment, "Comentario:") %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label(:suggestion, "Sugerencia:") %><br />
    <%= f.text_area :suggestion %>
  </div>
  <div class="field">
    <%= f.label(:company_comment, "Comentario de Empresa:") %><br />
    <%= f.text_area :company_comment %>
  </div>
  <div class="actions">
    <%= f.submit "Actualizar revisión" %>
  </div>
<% end %>
